@import "tailwindcss";

@theme{
--color-Blue100: hsl(225, 100%, 94%);
--color-Blue700: hsl(245, 75%, 52%);
--color-Blue50: hsl(225, 100%, 98%);
--color-Gray600: hsl(224, 23%, 55%);
--color-Blue950: hsl(223, 47%, 23%);
}
